body {
    margin: 0;
    padding: 0;
    background-image: url('Flores3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh; /* Ajusta la altura del cuerpo al 100% de la altura de la ventana */
}

.menu_container {
    padding: 20px;
    text-align: left;
}

.menu_container h1, .menu_container p {
    background-color: transparent;
    margin: 4%;
    margin-left: 2%;
    margin-right: 45%;
    color: black; /* Cambia el color de texto según sea necesario */
}

p {
    width: auto;
    text-align: left;
    font-size: medium;
    white-space: pre-line;
}

@media only screen and (max-width: 1700px) {
    .menu_container {
        padding: 10px; 
        margin-top: 20%;
    }

    p {
        font-size: small;
    }
}



